@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<br>
<div class="light-brown-bg">
    <p>Sumilang R. Plucena</p>
    <p>Email: splucena2011@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/sumilang-plucena-462a4a60/" target="_blank">Go to Profile</a></p>
</div>