@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="light-brown-bg">
    <p>
        In the EU, the GDPR requires companies dealing with EU citizens to have a Privacy Policy.
    </p>

    <p>his law became enforceable in early 2018 and has affected businesses around the world. Not only does it require a Privacy Policy, but it has requirements for what must go into a Privacy Policy and how it must be written and displayed.</p>

    <p>
        As a general rule, if you're compliant with Privacy Policy requirements of the GDPR, you'll by default end up complying with most other privacy laws around the world. That's because the GDPR is so robust and comes with stringent requirements.
    </p>
</div>
